<header class="context-menu-header">

    <!-- Logo -->
    <a class="logo" href="/home/" title="Westlaw Lite" itemprop="url">
        <img width="38" src="/img/content/logo@2x.png" alt="Westlaw Lite" itemprop="logo">
        <span class="logo-text">Westlaw Lite</span>
    </a>

    <!-- Hide/Show Button -->
    <div class="js-mobile-toggle-btn context-menu-mobile-menu">
        <a href=""><i class="fi-web"></i></a>
    </div>

</header>

<div class="context-menu-slider">

    <!-- Preferences Button -->
    <div class="context-menu-btn-wrapper">
        <a class="context-menu-btn" title="Preferences" href="#"><i class="fi-widget"></i></a>
        <a class="context-menu-btn" title="Other" href="#"><i class="fi-torso"></i></a>
    </div>

    <!-- Context Menu Fixed -->
    <section class="context-menu-fixed">
        <div class="context-menu-search">

            {{ include.body }}

            <!-- Search Field -->
            <form class="context-menu-search-form" novalidate method="post" action="">
                <label><input name="Search" type="text"></label>
            </form>

            <p><small>Dev link: <a href="/results/">JUMP TO RESULTS</a></small></p>

        </div>
    </section>

</div> <!-- .context-menu-slider -->