{% assign stubbed_image_url = "http://placehold.it/424x282" %}

<article class="media media-article">
	<a href="{{ item.url }}">
		<figure class="media-img">
			<img width="212" src="{{ stubbed_image_url }}" alt="...">
		</figure>
		<div class="media-body">
			<h2>{{ item.title }}</h2>
			<date class="media-tagline">{{ item.date | date: "%A %d %b %Y" }}</date>

			<!-- SERVER-SIDE TRUNCATION IS VERY IMPORTANT HERE -->
			<p>{{ item.content | strip_html | truncate: 150 }} &nbsp;

			<span class="media-link">Read More &nbsp;<i class="fa fa-angle-right"></i></span></p>
		</div>
	</a>
</article>