/*
    CONTEXT-MENU.CSS
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$header-height-small: rem-calc(50);
$header-height-medium: rem-calc(110);
$context-menu-width: rem-calc(400);

//-----------------------------------------------------------------
// Context Menu Header
//-----------------------------------------------------------------

.context-menu, .stage {
	@include transition('all');
}

.context-menu-header {
	position: relative;
	border-bottom: 1px solid $border-color;
	height: $header-height-small;
	line-height: $header-height-small;
	background: white;
	z-index: 10;
}

.context-menu-mobile-menu {
	position: absolute;
	top: 0;
	right: 20px;
	border-left: 1px solid #E0E0E0;
	padding-left: 20px;

    i {
    	font-size: rem-calc(20);
    	display: inline-block;
    	color: #E25854;
    }
}

.context-menu-is-hiding .context-menu-mobile-menu i {
	color: $primary-color;
}

//-----------------------------------------------------------------
// Context Menu
//-----------------------------------------------------------------

.context-menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	bottom: 0;
	border-right: 1px solid #D4D4D4;
	// background: white;
	z-index: 1;
	box-shadow: 11px 0px 10px -5px rgba(0,0,0,0.05);

	// display: none;
	// opacity: 0.5;

	@media #{$medium-up} {
	    width: $context-menu-width;
	    bottom: $footer-height;
	}
}

.context-menu-is-hiding .context-menu {
	@media #{$small-only} {
		bottom: auto;
	}

	@media #{$medium-up} {
	    right: auto;
	    left: -344px;
	}
}

//-----------------------------------------------------------------
// Context Menu Fixed (Contents)
//-----------------------------------------------------------------

.context-menu-fixed {
	display: table;
	padding: rem-calc(50 20 20 20);
	overflow-y: scroll;
	position: absolute;
	top: 0;
	right: 0;
	bottom: $footer-height;
	left: 0;
	width: 100%;
	height: 100vh;
	background: white;
}

.context-menu-is-hiding .context-menu-fixed {
	@media #{$small-only} {
		right: auto;
		left: 0;
		display: none;
	}
}

//-----------------------------------------------------------------
// Context Menu Search
//-----------------------------------------------------------------

.context-menu-search {
	vertical-align: middle;
	display: table-cell;

	@media #{$small-only} {
	    padding-bottom: 60%;
	}

	@media (min-height: 768px) {
	    padding-bottom: 60%;
	}

	@media #{$medium-up} and (min-height: 768px) {
	    padding-bottom: 90%;
	}
}

.context-menu-search-form {
	input {
		border: 1px solid #547B9D;
		background: #EBF2F8 url(../img/ui/search-icon-right.svg) 2% center no-repeat;
		background-size: 25px;
		padding: rem-calc(20);
	}
}

//-----------------------------------------------------------------
// Logo
//-----------------------------------------------------------------

.context-menu-header .logo {
	padding: rem-calc(0 10);

	.logo-text {
		font-size: rem-calc(13);
		color: #222;
		font-weight: 600;
		line-height: 38px;
	}
}

//-----------------------------------------------------------------
// Context Menu Buttons
//-----------------------------------------------------------------

.context-menu-btn-wrapper {
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #E0E0E0; //$border-color;
	box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.05);
	background: white;
	z-index: 1;

	.context-menu-btn {
		@include transition();
		display: inline-block;
		width: rem-calc(45);
		height: rem-calc(45);
		line-height: rem-calc(45);
		border-right: 1px solid #E0E0E0; //$border-color;
		color: #B3B3B3;
		text-align: center;
		cursor: pointer;

		i {
			font-size: rem-calc(22);
		}

		&:hover i {
			color: #547B9D;
		}
	}
}

.context-menu-is-hiding .context-menu-btn-wrapper {
	display: none;
}

//=========================================
//
//=========================================