/*
    FOOTER.CSS
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$footer-height: rem-calc(35);

//-----------------------------------------------------------------
// Footer
//-----------------------------------------------------------------

.global-footer {
	display: none;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: rem-calc(0 15);
	background: #2C2C2C;
	height: $footer-height;
	color: white;
	z-index: 1;

	@media #{$medium-up} {
	    display: block;
	}

	p, a {
		font-size: rem-calc(11);
		color: #ccc;
		margin: 0;
		padding: 0;
		line-height: $footer-height;
	}
}

//=========================================
//
//=========================================