/*
    FOOTER.CSS
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$footer-height: rem-calc(30);

//-----------------------------------------------------------------
// Footer
//-----------------------------------------------------------------

.global-footer {
	background: #2C2C2C;
	height: $footer-height;
	position: fixed;
	bottom: 0;
	width: 100%;
	color: white;
	padding: rem-calc(0 15);

	p, a {
		font-size: rem-calc(11);
		color: #ccc;
		margin: 0;
		padding: 0;
		line-height: $footer-height;
	}
}

//=========================================
//
//=========================================