/*
    STAGE.CSS
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Stage
//-----------------------------------------------------------------

.global-stage {
	position: absolute;
	top: 0;
	left: $context-menu-width;
	right: 0;
	bottom: 0;
	padding: rem-calc(10 20 20 20);
	background: url(../img/template/westlaw-mark.svg) no-repeat center center;
	background-size: 300px;
}

//-----------------------------------------------------------------
// Stage Document
//-----------------------------------------------------------------



//=========================================
//
//=========================================