---
layout: master
---

<!-- CONTEXT MENU -->
<nav class="context-menu">
	{% include context_menu.html %}
</nav>

<!-- GLOBAL STAGE -->
<section class="global-stage">
	<div class="global-stage-document">
		<h1>Today's Feed</h1>

		{% for i in (1..10) %}
			<article class="result-entry">
				<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, animi. A quas consequuntur neque temporibus officiis</h3>
				<p class="text-right">
					<a class="text-right" href="#">Read More <i class="fa fa-angle-right"></i></a>
				</p>
			</article>
		{% endfor %}

	</div>
</section>

<!-- FOOTER -->
<footer class="global-footer">
    {% include footer.html %}
</footer>