/*
    RESULTS.CSS
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Results
//-----------------------------------------------------------------

.result-entry {
	border-bottom: 1px solid $border-color;
	padding: rem-calc(15 0 15 0);

	p {
		margin-bottom: 0;
	}
}


//=========================================
//
//=========================================