/*
    TABS.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Tabs
//-----------------------------------------------------------------

.lv-super .tabs {
	display: table;
	width: 90%;
	max-width: rem-calc(500);
	margin: 15px auto 0 auto;
	// border: 2px solid $primary-color;

	dd {
		display: table-cell;
		float: none;
		text-align: center;

		a {
			// background: none;
			padding: rem-calc(10);
			border-radius: $global-radius;
			margin: 2px;
		}
	}
}

//=========================================
//
//=========================================